<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>wahidsircodes20th</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- every possible servlet program we can write we can do a servlet maping for the same -->
  <servlet>
  <servlet-name>HelloServlet</servlet-name>
  <servlet-class>wahidsircodes20th.HelloServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>HelloServlet</servlet-name>
   <url-pattern>/hello</url-pattern>
   </servlet-mapping>
   
  <servlet>
  <servlet-name>HiServlet</servlet-name>
  <servlet-class>wahidsircodes20th.HiServlet</servlet-class>
  </servlet>
   <servlet-mapping>
   <servlet-name>HiServlet</servlet-name>
   <url-pattern>/hi</url-pattern>
   </servlet-mapping>
   
  <servlet>
  <servlet-name>GreetingsServlet</servlet-name>
  <servlet-class>wahidsircodes20th.GreetingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>GreetingsServlet</servlet-name>
  <url-pattern>/greeting</url-pattern>   
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>wahidsircodes20th.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/login</url-pattern>   
  </servlet-mapping>
</web-app>
